{:name "Tonic Skin & Theme"
 :version "0.0.1"
 :author "Michael Ball"
 :source "https://github.com/mikeball/lighttable-tonic"
 :desc "A light skin and theme for LightTable"
 :behaviors "behaviors.edn"}